*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* CSS variables */
:root{
    --navigation-bar:54px;
}
/* navigation bar */
#navbar{
    display: flex;
    
    height: 65px;

    align-items: center;
    background-color: #000000;
    width: 100%;
    /* position:sticky; */
    position:fixed;
    z-index: 1;
    
}
/* #navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 20%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
} */

#logo{
    margin: 34px 45px;
}
#navbar #logo{
    display:flex;
    list-style: none;
    color: black;
    
    
}
#navbar ul{
    display:inline-flex;
    list-style: none;
    color: black;
    text-decoration: none;
    
}
#navbar ul li{
   list-style: none;
   font-size: 16px;
   margin: -16px;
    
}
#navbar ul li a{
    display: block;
   padding: 4px 24px;
   text-decoration: none;
    color:white;
    padding-top: 20px;
    /* padding-top: 16px; */
}
#navbar ul li a:hover{
    color: rgb(255, 0, 0);
    font-size: 1.3rem;
}

/* Navigation bar:logo and image */
#logo{
  margin: 10px; 
  
}
#logo img{
    height: 56px;
    margin: -2px -5px;
    filter: invert(1);
}
#logo img :hover{
    color: aqua;
    
}
/* Navigation Bar: List Styling */
.submenu-1{
    display: none;
}
#navbar ul li:hover .submenu-1 {
    display: block;
    position: absolute;
    background-color:grey;
   /* margin-top: 15px; */
   margin-top: 10px;
 
   margin-left: -10px;
}
#navbar ul li:hover .submenu-1 ul{
    /* to get list from horizontal position to vertical position */
    display: block;   
    /* margin: 10px; */
    margin: 7px;
/* 7px */

}
#navbar ul li:hover .submenu-1 ul li{
    width: 210px;
    padding: 14px;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    text-align: left;
}
#navbar ul li:hover .submenu-1 ul li:last-child{
    border-bottom: none;
}
#navbar ul li:hover .submenu-1 ul li a:hover{
    color: rgb(255, 0, 0);
}
.fa-angle-right{
    float:right
}

.submenu-2{
    display: none;
}
#navbar ul li :hover .submenu-1 ul li :hover .submenu2{
    display: block;
    position: absolute;
    background-color:grey;
   margin-top: 15px;
   margin-left: -16px;
} 
/* #navbar ul li :hover .submenu-1 ul li :hover .submenu2 ul{
    display: block;   
    margin: 10px;
}
#navbar ul li :hover .submenu-1 ul li :hover .submenu2 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid red;
    background: transparent;
    text-align: left; 
} */
.subitems:hover .submenu-2{
    position: absolute;
    display:block;
    margin-top: -10px;
    margin-left: 157px;
    margin-left: 130px;
    background: #696363e1;
}
#navbar .fa{
margin: 3px;

}

/* .topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  } */
  
  /* .search-container {
    float: right;
    
  }
  .search-container button {
    float: right;
    height: auto;
    padding: 0px 4px;
    margin-top: 1px;
    margin-right: 16px;
    background: #ddd;
    font-size: 14px;
    border: none;
    cursor: pointer;
} */


.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
.topnav .search-container {
    float: right;
  }
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }



  
/* Home section */
/* #home{
    display: flex;
    flex-direction: column;
   
    padding: 0px 0px;
    
    height: 331px;
  
    justify-content: center;
    align-items: center;
} */
#home {
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    /* padding: 10px 109px; */
    height: 488px;
    /* height: 630px; */
    justify-content: center;
    align-items: center;
}
/* #home::before{

    content: "";
    position:absolute;
  
    background-image: url("img/main\ background\ image.jfif");

    height: 332px;
    width: 100%;
    padding: 45px;
    z-index: -1;
    opacity: 0.65;

} */
#home::before {
    content: "";
    position: absolute;
    /* background: url(img/aj9zsvyu.bmp); */
    /* background-color: #e5687d8c; */
    background-image: url(img/main\ background\ image.jfif);
    height: 416px;
    width: 100%;
    padding: 28px;
    z-index: -1;
    opacity: 0.5;
}


#home h1{
    color: #620909;
    text-align: center ;
}
#home p{
    color:black;
    text-align: center ;
}



/* sevices section */
#services{
    margin: 34px;
    display: flex;
}
/* #services{
    border: 2px solid red;
} */
#services .box {
    /* border: 1.5px solid red; */
    box-shadow: 2px -1px 8px 0px;
    padding: 0px 102px;
    margin: 3px;
}
#services .box img:hover {
    height: 250px;
    width: 180px;
    
}
#services .box img{
  
  height: 150px;
    padding: 4px;
    margin: auto;
}

.box{
    /* border: 2px solid red; */
    padding: 4px 4px;
    border-radius: 5px;
}


/*price menu*/
.product-info{
    text-align: center;
    padding: 1.5rem 0;
}
.product-name{
    color: #942222;
    font-size: 0.8rem;
    display: block;
    margin-bottom: 0.6rem;
}
.product-price{
    font-weight: 700;
    letter-spacing: 1px;
}
.product-icons{
    margin-top: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-icons span{
    width: 40px;
    height: 40px;
    background-color: rgb(153, 49, 49);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.3rem;
    border: 1px solid #e2e2e2;
    cursor: pointer;
    transition: all 0.3s ease;
}
.product-icons span:hover{
    background-color: #9e9d9d;
    color: #fff;
}
.product-grid{
    margin-bottom: 2rem;
    display: grid;
    gap: 20rem;
}


/* client section */
.query h1
{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    padding: 5px 5px;
    height: 58px;
}
.query button
{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    padding: 5px 5px;
}
#client-section{
    height: 179px;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 124px;
    padding: 13px;
}
.h-primary-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
}
footer{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* utility classes */
.h-primary{
    font-size: 1.8rem;
    padding: 12px;
}
.h-primary1{
    font-size: 1.8rem;
    padding: 12px;
    
}



                   .h-primary_center{
                    padding: 3px;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
                }



.h-secondary{
    font-size: 1.8rem;
    padding: 12px;
    
}
.btn{
    padding: 3px 120px;
    border: 2px solid #5b0872;
    color: rgb(233, 15, 15);
    margin: 7px;
    font-size: 0.7rem;
    background-color: rgb(217 199 212);
    border-radius: 0.4rem;
    cursor: pointer;
}
.btn:hover{
    background-color: #6d424256;
    color: rgb(245, 14, 14);
    font-size: 1.1rem;
    border:3px solid black;  

}
.center{
    text-align: center;
}
.cell{
    width: 44%;
    height: 222px;
    margin:  15px;
    overflow: hidden;
    border-radius: 8px;
    counter-increment:cell;
}
.flickity-button flickity-prev-next-button previous{
    top: 20%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transform: translateY(-50%);
}
.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -3px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}
.flickity-prev-next-button {
    top: 62%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transform: translateY(-50%);
}
/* .cell img {
    width: 100%;
    height: 205px;
    object-fit: contain;
} */

.cell img {
    width: 107%;
    height: 398px;
    /* object-fit: ; */
    object-fit: contain;
}
/* style part 2 */
body{
    margin:0px ;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,200px);
    justify-content: center;
    align-items: center;
    grid-gap:0px;
    height: 100vh;
}
/* .grid .image .image__img{
    width: 160px;
    height: 200px;
    cursor: pointer;
   margin-left: 15px;
} */
.grid .image .image__img {
  /* width: 135px;
  height: 154px;
  cursor: pointer;
  margin-left: 35px; */
  width: 126px;
    height: 157px;
    cursor: pointer;
    margin-left: 35px;
}

#lightbox{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
}
#lightbox.active{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#lightbox img{
    /* height: 300px;
    width: 263px;
    padding: 39px 21px;
    margin: 55px;
    margin-top: 45px; */
    max-width: 90%;
    max-height: 80%;
    padding: 8px;
    background-color: black;
    border: 2px solid white;
}


.image {
    position: relative;
    width: 400px;
  }
  
  .image__img {
    display: block;
    width: 100%;
  }
  
  .image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 42%;
    /* width: 40%; */
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #9e2e2e;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
  }
  
  .image__overlay--blur {
    backdrop-filter: blur(4px);
  }
  
  
  .image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
  }
  
  .image__overlay:hover {
    opacity: 1;
  }
  
  .image__overlay:hover > * {
    transform: translateY(0);
  }
  
  .image__title {
    font-size: 2em;
    font-weight: bold;
  }
  
  .image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
  }


  /* category section */
  .mens-shirts{
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
  }


  .product-info{
    text-align: center;
    padding: 1.5rem 0;
}
.product-name{
    color: #ababab;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 0.6rem;
}
.product-price{
    font-weight: 700;
    letter-spacing: 1px;
}
.product-icons{
    margin-top: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-icons span{
    width: 40px;
    height: 40px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.3rem;
    border: 1px solid #e2e2e2;
    cursor: pointer;
    transition: all 0.3s ease;
}
.product-icons span:hover{
    background-color: #9e9d9d;
    color: #fff;
}
.product-grid{
    margin-bottom: 2rem;
    display: grid;
    gap: 2rem;
}

